{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Agile Anonymous Estimation{% endblock %}
{% block content %}
	<div class="container">
		<h1>Issue: {{ issue.story_ref }}</h1>

		<p> Description: {{ issue.description }}</p>

		<div class="hero-unit">
			<h2>Are you sure you want to delete all estimates and start over?</h2>
			<form method="POST">
				<input class="btn btn-large btn-success" type="submit" name="submit">
			</form>
		</div>
	</div>
{% endblock %}
