{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Agile Anonymous Estimation{% endblock %}
{% block content %}
	<div class="container">
		<h1>Group: {{ group.name }}</h1>
		<h3>Members</h3>
		<p> As the creator of this group, you can invite your colleagues to join the group by sending them the following link:</p>
		<pre>{{ join_link }}</pre>
		{% if group_members %}
		<p> The following users have joined you in this group:</p>
		<ul>
			{% for member in group_members %}
			<li>{{ member }}</li>
			{% endfor %}
		</ul>
		{% else %}
		<p> No one has joined your group yet. Send the link above so that they can join. There is no need to provide email addresses.</p>
		{% endif %}
	</div>
	<div class="container">
		<h3>Issues</h3>
		<p>Create stories and then ask group members to give an estimate after you discuss the details.</p>
		
		<p><a href="/group/{{ group.id }}/issue" type='button'>Create New Issue</a></p>

		{% if issues %}
			<table>
				<tr>
					<th>Story Ref.</th>
					<th>Description</th>
					<th>Estimate</th>
				</tr>
				{% for issue in issues %}
				<tr>
					<td>{{ issue.story_ref }}</td>
					<td>{{ issue.description }}</td>
					{% if issue.final_estimate %}
					<td>{{ issue.final_estimate }}
					{% else %}
					<td><a href='/issue/{{ issue.id }}/estimate'>Estimate</a></td>
					{% endif %}
				</tr>
				{% endfor %}
			</table>
		{% else %}
			You have not created any issues for this group yet.
		{% endif %}
	</div>
	{% if owner_in_group %}
	<div class="container">
		<p />
		<p>You can leave this group but remain as owner if you are not taking part in the estimation. <a href="{{ url_for('web.leave_group', id=group.id) }}">Click here to leave the group.</a></p>
	<div>
	{% endif %}
{% endblock %}
