{% extends "base-template.html" %}
{% block content %}
	<div class="container">
		<h1>Group: {{ group.name }}</h1>
		<h3>Members</h3>
		{% if (group_members is defined) and group_members %}
		<p> The following users have joined you in this group:</p>
		<ul>
			{% for member in group_members %}
			<li>{{ member }}</li>
			{% endfor %}
		</ul>
		{% else %}
		<p> There is no one else in this group.</p>
		{% endif %}
	</div>
	<div class="container">
		<h3>Issues</h3>
		<p>Your group leader will add stories below. After discussing them, you can give your estimate using the form in the table.</p>
		{% if issues %}
			<table>
				<tr>
					<th>Story Ref.</th>
					<th>Description</th>
					<th>Estimate</th>
				</tr>
				{% for issue in issues %}
				<tr>
					<td><a href='/issue/{{ issue.id }}'>{{ issue.story_ref }}</a></td>
					<td>{{ issue.description }}</td>
					{% if issue.final_estimate %}
					<td>{{ issue.final_estimate }}
					{% else %}
					<td><a href='/issue/{{ issue.id }}/estimate'>Estimate</a></td>
					{% endif %}
				</tr>
				{% endfor %}
			</table>
		{% else %}
			<p>There are not stories for this group yet.</p>
		{% endif %}
	</div>
	<div class="container">
		<p>You can leave this group and take no further part in the estimation. <a href="{{ url_for('web.leave_group', id=group.id) }}">Click here to leave the group.</a></p>
	<div>
{% endblock %}
