{% extends "base-template.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
	<div class="container">
		<h1>Let’s Estimate Something</h1>
	</div>
	<div class="container">
		{% if nickname %}
			<p>Hello {{ nickname }}. All the groups you create will be listed here. 
			{% if groups %}
				You have created the following groups:
			{% else %}
				It looks like you have not created any groups yet.
			{% endif %}
			</p>
			<ul>
				{% for group in groups %}
					<li><a href="group/{{ group.id }}">{{ group.name }}</a></li>
				{% endfor %}
			</ul>
			<h3>To create a new group, enter a name and click the button.</h3>
			{{ wtf.quick_form(new_group_form, action="creategroup") }}
			{% if other_groups %}
			<p>You are also a member of these groups</p>
			<ul>
				{% for group in other_groups %}
				<li><a href="group/{{ group.id }}">{{ group.name }}</a></li>
				{% endfor %}
			</ul>
			{% endif %}
		{% else %}
			<p>If you are an Agile software development team and want to try using anonymous estimation to size your user stories, you can use this site. Choose a nickname, create a group, invite members, create issues, and then get estimating!</p>

			<p>This web application makes use of cookies to store your nickname. Without this, it cannot track your esimates. This is the only data that will be stored on your browser in this version of the application. By using the form below, you agree to this use of cookies.</p>

			{{ wtf.quick_form(form) }}
		{% endif %}
	</div>
{% endblock %}
